* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

    /* primary */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);


    /* secundary */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --font-montserrat: 'Montserrat', sans-serif;
    --font-fraunces: 'Fraunces', serif;
}

.container__principal {
    max-width: 345px;
    height: 590px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin: 0 auto;
    background: var(--Cream);
    
}

.div__img .img__desktop {
    display: none;
}

.div__img,
.div__texto {
    margin: 0 auto;
}

.div__img {
    margin-top: 25px;
    width: 92%;
    /* border-radius: 10px 10px 0 0; */
}

.div__img .img__mobile {
    width: 100%;
    height: 100%;
    background: var(--White);
    border-radius: 1em 1em 0 0;
    
}

.div__texto {
    width: 92%;
    height: 100%;
    /* border: 1px solid blue; */
    padding: 1.1em;
    background: var(--White);
    border-radius: 0 0 1em 1em;
    position: relative;
}

.div__texto h3,
.div__texto h4,
.div__texto p,
.div__texto h6 {
    width: 98%;
    margin: .51em auto;
    
}

.div__texto h3 {
    font-family: var(--font-montserrat);
    font-weight: 500;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: .6em;
    color: var(--Dark-grayish-blue);
}

.div__texto h4 {
    font-family: var(--font-fraunces);
    font-size: 1.7em;
    font-weight: 700;
}

.div__texto p {
    font-family: var(--font-montserrat);
    font-size: .7em;
    letter-spacing: .09em;
    line-height: 1.5;
    color: var(--Dark-grayish-blue);
    
}

.div__texto h6 {
    display: inline;
}

.div__texto .h6__precio-ahora {
    font-family: var(--font-fraunces);
    font-size: 1.8em;
    color: var(--Dark-cyan);
    font-weight: 700;
    position: relative;
    top: .5em;
    /* border: 1px solid red; */
}

.div__texto .h6__precio-antes {
    font-family: var(--font-montserrat);
    color: var(--Dark-grayish-blue);
    position: relative;
    top: 1em;
    left: 1.2em;
}

.div__texto button {
    display: block;
    position: relative;
    top: 35px;
    width: 100%;
    /* margin-bottom: 100; */
    height: 40px;
    border: none;
    color: var(--White);
    background: var(--Dark-cyan);
    border-radius: 10px;
}

.div__texto button i {
    margin-right: 1em;
}

@media screen and (min-width: 600px) {
    .container__principal {
        max-width: 700px;
        height: 600px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .div__img,
    .div__texto {
        height: 60%;
        max-width: 90%;
        /* border: 1px solid red; */
        /* margin: 0 auto; */
    }

    .div__img {
        margin-left: 1em;
    }
    
    .div__texto {
        margin-right: 1em;
        border-radius: 0 1em 1em 0;
        
    }
    

    .div__img .img__mobile {
        display: none;   
    }

    .div__img .img__desktop {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 1em 0 0 1em;

    }

    .div__img {
        margin-top: 0;
    }
}